<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">We love Open Source since 1995</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
	    Phone: +49 911 92885-0
          </li>

            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

  </div>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        ©1995-{{ 'now' | date: "%Y" }} <a href="https://www.netways.de">NETWAYS GmbH</a>
      </div>
    </div>

</footer>
